In [ ]:
#importer findspark
import findspark
findspark.init()

In [4]:
#importer pyspark
import pyspark
from pyspark.sql import SparkSession , SparkContext

In [5]:
#crée une session spark
spark = SparkSession.builder.appName("assurance").getOrCreate()

In [8]:
#importation des données donneés
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
data = spark.read.csv('assurance.csv',header=True,inferSchema=True)
data

+---+------+---+---------------+-----------+------------------+-----------+--------------+--------------+--------------------+-------+--------+
| id|Gender|Age|Driving_License|Region_Code|Previously_Insured|Vehicle_Age|Vehicle_Damage|Annual_Premium|Policy_Sales_Channel|Vintage|Response|
+---+------+---+---------------+-----------+------------------+-----------+--------------+--------------+--------------------+-------+--------+
|  1|  Male| 44|              1|       28.0|                 0|  > 2 Years|           Yes|       40454.0|                26.0|    217|       1|
|  2|  Male| 76|              1|        3.0|                 0|   1-2 Year|            No|       33536.0|                26.0|    183|       0|
|  3|  Male| 47|              1|       28.0|                 0|  > 2 Years|           Yes|       38294.0|                26.0|     27|       1|
|  4|  Male| 21|              1|       11.0|                 1|   < 1 Year|            No|       28619.0|               152.0|    203|       0|
|  5|Female| 29|              1|       41.0|                 1|   < 1 Year|            No|       27496.0|               152.0|     39|       0|
|  6|Female| 24|              1|       33.0|                 0|   < 1 Year|           Yes|        2630.0|               160.0|    176|       0|
|  7|  Male| 23|              1|       11.0|                 0|   < 1 Year|           Yes|       23367.0|               152.0|    249|       0|
|  8|Female| 56|              1|       28.0|                 0|   1-2 Year|           Yes|       32031.0|                26.0|     72|       1|
|  9|Female| 24|              1|        3.0|                 1|   < 1 Year|            No|       27619.0|               152.0|     28|       0|
| 10|Female| 32|              1|        6.0|                 1|   < 1 Year|            No|       28771.0|               152.0|     80|       0|
| 11|Female| 47|              1|       35.0|                 0|   1-2 Year|           Yes|       47576.0|               124.0|     46|       1|
| 12|Female| 24|              1|       50.0|                 1|   < 1 Year|            No|       48699.0|               152.0|    289|       0|
| 13|Female| 41|              1|       15.0|                 1|   1-2 Year|            No|       31409.0|                14.0|    221|       0|
| 14|  Male| 76|              1|       28.0|                 0|   1-2 Year|           Yes|       36770.0|                13.0|     15|       0|
| 15|  Male| 71|              1|       28.0|                 1|   1-2 Year|            No|       46818.0|                30.0|     58|       0|
| 16|  Male| 37|              1|        6.0|                 0|   1-2 Year|           Yes|        2630.0|               156.0|    147|       1|
| 17|Female| 25|              1|       45.0|                 0|   < 1 Year|           Yes|       26218.0|               160.0|    256|       0|
| 18|Female| 25|              1|       35.0|                 1|   < 1 Year|            No|       46622.0|               152.0|    299|       0|
| 19|  Male| 42|              1|       28.0|                 0|   1-2 Year|           Yes|       33667.0|               124.0|    158|       0|
| 20|Female| 60|              1|       33.0|                 0|   1-2 Year|           Yes|       32363.0|               124.0|    102|       1|
+---+------+---+---------------+-----------+------------------+-----------+--------------+--------------+--------------------+-------+--------+
only showing top 20 rows

In [9]:
#afficher la structure du données avec le type de chaque colonne
data.printSchema()

root
 |-- id: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Driving_License: integer (nullable = true)
 |-- Region_Code: double (nullable = true)
 |-- Previously_Insured: integer (nullable = true)
 |-- Vehicle_Age: string (nullable = true)
 |-- Vehicle_Damage: string (nullable = true)
 |-- Annual_Premium: double (nullable = true)
 |-- Policy_Sales_Channel: double (nullable = true)
 |-- Vintage: integer (nullable = true)
 |-- Response: integer (nullable = true)

In [10]:
#afficher les noms et la taille des colonnes
print(data.columns)
print(len(data.columns))

['id', 'Gender', 'Age', 'Driving_License', 'Region_Code', 'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium', 'Policy_Sales_Channel', 'Vintage', 'Response']
12

In [13]:
#afficher la description des données
data.describe()

+-------+------------------+------+------------------+-------------------+------------------+------------------+-----------+--------------+------------------+--------------------+------------------+-------------------+
|summary|                id|Gender|               Age|    Driving_License|       Region_Code|Previously_Insured|Vehicle_Age|Vehicle_Damage|    Annual_Premium|Policy_Sales_Channel|           Vintage|           Response|
+-------+------------------+------+------------------+-------------------+------------------+------------------+-----------+--------------+------------------+--------------------+------------------+-------------------+
|  count|            381109|381109|            381109|             381109|            381109|            381109|     381109|        381109|            381109|              381109|            381109|             381109|
|   mean|          190555.0|  null|38.822583565331705| 0.9978693759528114|26.388807401557035|0.4582101183650871|       null|          null|30564.389581458323|  112.03429465061177|154.34739667654136|0.12256336113815208|
| stddev|110016.83620776715|  null|15.511611018095321|0.04610954420779957|13.229888025788474| 0.498251198887226|       null|          null|17213.155056980126|   54.20399477485638|  83.6713036265871| 0.3279357647864255|
|    min|                 1|Female|                20|                  0|               0.0|                 0|   1-2 Year|            No|            2630.0|                 1.0|                10|                  0|
|    max|            381109|  Male|                85|                  1|              52.0|                 1|  > 2 Years|           Yes|          540165.0|               163.0|               299|                  1|
+-------+------------------+------+------------------+-------------------+------------------+------------------+-----------+--------------+------------------+--------------------+------------------+-------------------+

In [ ]:
#Calculer le nombre de femmes ayant un véhicule âgé de plus de 2 ans (> 2 Years)
age_femme = data.filter((data.Gender=='Female') & (data.Vehicle_Age=='> 2 Years')).count()
print("le nombre de femmes ayant un véhicule âgé de plus de 2 ans : ",age_femme)

In [ ]:
#Calculer la moyenne des Annual_Premium pour les hommes ayant des véhicules endommagés 
vehicule_endommage = data.filter((data.Gender=='Male') & (data.Vehicle_Damage=='Yes')).select(data.Annual_Premium).describe()
print("la moyenne des Annual_Premium pour les hommes ayant des véhicules endommagés : ",vehicule_endommage)

In [21]:
# créer un fichier file_name.json
#Enregistrer le nouveau dataframe au format json
import json
fileName = "file_name.json"
jsonFile = '{ 
    "id":data.id,
    "Gender":data.Gender, 
    "Age":data.Age, 
    "Driving_License":data.Driving_License,
    "Region_Code":data.Region_Code,
    "Previously_Insured":data.Previously_Insured,
    "Vehicle_Age":data.Vehicle_Age,
    "Annual_Premium":data.Annual_Premium,
    "Policy_Sales_Channel":data.Policy_Sales_Channel,
    "Vintage":data.Vintage,
    "Response":data.Response
}'
jsonString = json.loads(jsonFile)

file = open(fileName, "w")
json.dump(jsonString, file)
file.close()

In [24]:
#Créer une fonction udf permettant de convertir les valeurs de la colonne Vehicle_Damage en 0 et 1 
from pyspark.sql.types import DoubleType, IntegerType, DateType , StringType
from pyspark.sql.functions import when , udf , col 

def convert_Vehicle_Damage(s):
    return 1 if s=='Yes' else 0
udf_convert_Vehicle_Damage = udf(lambda z:convert_Vehicle_Damage(z))
data=data.withColumn("Vehicle_Damage", udfconverture_1_0_Vehicle_Damage(col("Vehicle_Damage")).cast(IntegerType()))
data

+---+------+---+---------------+-----------+------------------+-----------+--------------+--------------+--------------------+-------+--------+
| id|Gender|Age|Driving_License|Region_Code|Previously_Insured|Vehicle_Age|Vehicle_Damage|Annual_Premium|Policy_Sales_Channel|Vintage|Response|
+---+------+---+---------------+-----------+------------------+-----------+--------------+--------------+--------------------+-------+--------+
|  1|  Male| 44|              1|       28.0|                 0|  > 2 Years|             1|       40454.0|                26.0|    217|       1|
|  2|  Male| 76|              1|        3.0|                 0|   1-2 Year|             0|       33536.0|                26.0|    183|       0|
|  3|  Male| 47|              1|       28.0|                 0|  > 2 Years|             1|       38294.0|                26.0|     27|       1|
|  4|  Male| 21|              1|       11.0|                 1|   < 1 Year|             0|       28619.0|               152.0|    203|       0|
|  5|Female| 29|              1|       41.0|                 1|   < 1 Year|             0|       27496.0|               152.0|     39|       0|
|  6|Female| 24|              1|       33.0|                 0|   < 1 Year|             1|        2630.0|               160.0|    176|       0|
|  7|  Male| 23|              1|       11.0|                 0|   < 1 Year|             1|       23367.0|               152.0|    249|       0|
|  8|Female| 56|              1|       28.0|                 0|   1-2 Year|             1|       32031.0|                26.0|     72|       1|
|  9|Female| 24|              1|        3.0|                 1|   < 1 Year|             0|       27619.0|               152.0|     28|       0|
| 10|Female| 32|              1|        6.0|                 1|   < 1 Year|             0|       28771.0|               152.0|     80|       0|
| 11|Female| 47|              1|       35.0|                 0|   1-2 Year|             1|       47576.0|               124.0|     46|       1|
| 12|Female| 24|              1|       50.0|                 1|   < 1 Year|             0|       48699.0|               152.0|    289|       0|
| 13|Female| 41|              1|       15.0|                 1|   1-2 Year|             0|       31409.0|                14.0|    221|       0|
| 14|  Male| 76|              1|       28.0|                 0|   1-2 Year|             1|       36770.0|                13.0|     15|       0|
| 15|  Male| 71|              1|       28.0|                 1|   1-2 Year|             0|       46818.0|                30.0|     58|       0|
| 16|  Male| 37|              1|        6.0|                 0|   1-2 Year|             1|        2630.0|               156.0|    147|       1|
| 17|Female| 25|              1|       45.0|                 0|   < 1 Year|             1|       26218.0|               160.0|    256|       0|
| 18|Female| 25|              1|       35.0|                 1|   < 1 Year|             0|       46622.0|               152.0|    299|       0|
| 19|  Male| 42|              1|       28.0|                 0|   1-2 Year|             1|       33667.0|               124.0|    158|       0|
| 20|Female| 60|              1|       33.0|                 0|   1-2 Year|             1|       32363.0|               124.0|    102|       1|
+---+------+---+---------------+-----------+------------------+-----------+--------------+--------------+--------------------+-------+--------+
only showing top 20 rows

In [25]:
#afficher le schéma de données
data.printSchema()

root
 |-- id: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Driving_License: integer (nullable = true)
 |-- Region_Code: double (nullable = true)
 |-- Previously_Insured: integer (nullable = true)
 |-- Vehicle_Age: string (nullable = true)
 |-- Vehicle_Damage: integer (nullable = true)
 |-- Annual_Premium: double (nullable = true)
 |-- Policy_Sales_Channel: double (nullable = true)
 |-- Vintage: integer (nullable = true)
 |-- Response: integer (nullable = true)

In [28]:
#Créer une fonction udf pour encoder la colonne Vehicle_Age en valeurs numérique

#selectionner la colonne Vehicule Age
data.select('Vehicle_Age').distinct()

+-----------+
|Vehicle_Age|
+-----------+
|  > 2 Years|
|   < 1 Year|
|   1-2 Year|
+-----------+

In [29]:
def convert_Vehicle_Age(s):
    return 2 if s=='> 2 Years' else 1 if s=='1-2 Year' else 0
udf_converture_Vehicle_Age = udf(lambda z:convert_Vehicle_Age(z))
data=data.withColumn("Vehicle_Age", udf_converture_Vehicle_Age(col("Vehicle_Age")).cast(IntegerType()))
data

+---+------+---+---------------+-----------+------------------+-----------+--------------+--------------+--------------------+-------+--------+
| id|Gender|Age|Driving_License|Region_Code|Previously_Insured|Vehicle_Age|Vehicle_Damage|Annual_Premium|Policy_Sales_Channel|Vintage|Response|
+---+------+---+---------------+-----------+------------------+-----------+--------------+--------------+--------------------+-------+--------+
|  1|  Male| 44|              1|       28.0|                 0|          2|             1|       40454.0|                26.0|    217|       1|
|  2|  Male| 76|              1|        3.0|                 0|          1|             0|       33536.0|                26.0|    183|       0|
|  3|  Male| 47|              1|       28.0|                 0|          2|             1|       38294.0|                26.0|     27|       1|
|  4|  Male| 21|              1|       11.0|                 1|          0|             0|       28619.0|               152.0|    203|       0|
|  5|Female| 29|              1|       41.0|                 1|          0|             0|       27496.0|               152.0|     39|       0|
|  6|Female| 24|              1|       33.0|                 0|          0|             1|        2630.0|               160.0|    176|       0|
|  7|  Male| 23|              1|       11.0|                 0|          0|             1|       23367.0|               152.0|    249|       0|
|  8|Female| 56|              1|       28.0|                 0|          1|             1|       32031.0|                26.0|     72|       1|
|  9|Female| 24|              1|        3.0|                 1|          0|             0|       27619.0|               152.0|     28|       0|
| 10|Female| 32|              1|        6.0|                 1|          0|             0|       28771.0|               152.0|     80|       0|
| 11|Female| 47|              1|       35.0|                 0|          1|             1|       47576.0|               124.0|     46|       1|
| 12|Female| 24|              1|       50.0|                 1|          0|             0|       48699.0|               152.0|    289|       0|
| 13|Female| 41|              1|       15.0|                 1|          1|             0|       31409.0|                14.0|    221|       0|
| 14|  Male| 76|              1|       28.0|                 0|          1|             1|       36770.0|                13.0|     15|       0|
| 15|  Male| 71|              1|       28.0|                 1|          1|             0|       46818.0|                30.0|     58|       0|
| 16|  Male| 37|              1|        6.0|                 0|          1|             1|        2630.0|               156.0|    147|       1|
| 17|Female| 25|              1|       45.0|                 0|          0|             1|       26218.0|               160.0|    256|       0|
| 18|Female| 25|              1|       35.0|                 1|          0|             0|       46622.0|               152.0|    299|       0|
| 19|  Male| 42|              1|       28.0|                 0|          1|             1|       33667.0|               124.0|    158|       0|
| 20|Female| 60|              1|       33.0|                 0|          1|             1|       32363.0|               124.0|    102|       1|
+---+------+---+---------------+-----------+------------------+-----------+--------------+--------------+--------------------+-------+--------+
only showing top 20 rows

In [30]:
#afficher le schéma de données
data.printSchema()

root
 |-- id: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Driving_License: integer (nullable = true)
 |-- Region_Code: double (nullable = true)
 |-- Previously_Insured: integer (nullable = true)
 |-- Vehicle_Age: integer (nullable = true)
 |-- Vehicle_Damage: integer (nullable = true)
 |-- Annual_Premium: double (nullable = true)
 |-- Policy_Sales_Channel: double (nullable = true)
 |-- Vintage: integer (nullable = true)
 |-- Response: integer (nullable = true)

In [31]:
data

DataFrame[id: int, Gender: string, Age: int, Driving_License: int, Region_Code: double, Previously_Insured: int, Vehicle_Age: int, Vehicle_Damage: int, Annual_Premium: double, Policy_Sales_Channel: double, Vintage: int, Response: int]

In [32]:
#selectionner la colonne Response
data.select('Response').distinct()

+--------+
|Response|
+--------+
|       1|
|       0|
+--------+

In [33]:
#créer une fonction pour convertir le Sexe (Gender) en 0 et 1
#1 pour 'Male' 
#0 pour 'Female'

def convert_Gender(s):
    return 1 if s=='Male' else 0
udf_convert_Gender = udf(lambda z:convert_Gender(z))
data=data.withColumn("Gender", udf_convert_Gender(col("Gender")).cast(IntegerType()))
data

+---+------+---+---------------+-----------+------------------+-----------+--------------+--------------+--------------------+-------+--------+
| id|Gender|Age|Driving_License|Region_Code|Previously_Insured|Vehicle_Age|Vehicle_Damage|Annual_Premium|Policy_Sales_Channel|Vintage|Response|
+---+------+---+---------------+-----------+------------------+-----------+--------------+--------------+--------------------+-------+--------+
|  1|     1| 44|              1|       28.0|                 0|          2|             1|       40454.0|                26.0|    217|       1|
|  2|     1| 76|              1|        3.0|                 0|          1|             0|       33536.0|                26.0|    183|       0|
|  3|     1| 47|              1|       28.0|                 0|          2|             1|       38294.0|                26.0|     27|       1|
|  4|     1| 21|              1|       11.0|                 1|          0|             0|       28619.0|               152.0|    203|       0|
|  5|     0| 29|              1|       41.0|                 1|          0|             0|       27496.0|               152.0|     39|       0|
|  6|     0| 24|              1|       33.0|                 0|          0|             1|        2630.0|               160.0|    176|       0|
|  7|     1| 23|              1|       11.0|                 0|          0|             1|       23367.0|               152.0|    249|       0|
|  8|     0| 56|              1|       28.0|                 0|          1|             1|       32031.0|                26.0|     72|       1|
|  9|     0| 24|              1|        3.0|                 1|          0|             0|       27619.0|               152.0|     28|       0|
| 10|     0| 32|              1|        6.0|                 1|          0|             0|       28771.0|               152.0|     80|       0|
| 11|     0| 47|              1|       35.0|                 0|          1|             1|       47576.0|               124.0|     46|       1|
| 12|     0| 24|              1|       50.0|                 1|          0|             0|       48699.0|               152.0|    289|       0|
| 13|     0| 41|              1|       15.0|                 1|          1|             0|       31409.0|                14.0|    221|       0|
| 14|     1| 76|              1|       28.0|                 0|          1|             1|       36770.0|                13.0|     15|       0|
| 15|     1| 71|              1|       28.0|                 1|          1|             0|       46818.0|                30.0|     58|       0|
| 16|     1| 37|              1|        6.0|                 0|          1|             1|        2630.0|               156.0|    147|       1|
| 17|     0| 25|              1|       45.0|                 0|          0|             1|       26218.0|               160.0|    256|       0|
| 18|     0| 25|              1|       35.0|                 1|          0|             0|       46622.0|               152.0|    299|       0|
| 19|     1| 42|              1|       28.0|                 0|          1|             1|       33667.0|               124.0|    158|       0|
| 20|     0| 60|              1|       33.0|                 0|          1|             1|       32363.0|               124.0|    102|       1|
+---+------+---+---------------+-----------+------------------+-----------+--------------+--------------+--------------------+-------+--------+
only showing top 20 rows

In [34]:
#afficher le schéma de données
data.printSchema()

root
 |-- id: integer (nullable = true)
 |-- Gender: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Driving_License: integer (nullable = true)
 |-- Region_Code: double (nullable = true)
 |-- Previously_Insured: integer (nullable = true)
 |-- Vehicle_Age: integer (nullable = true)
 |-- Vehicle_Damage: integer (nullable = true)
 |-- Annual_Premium: double (nullable = true)
 |-- Policy_Sales_Channel: double (nullable = true)
 |-- Vintage: integer (nullable = true)
 |-- Response: integer (nullable = true)

In [ ]:
#Créer un modèle de classification en utilisant  Régression Logistique

In [ ]:
#importer les bibliothéque
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
#importer les bibliothéques machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score
from sklearn.model_selection import train_test_split

In [36]:
#chargement des données
data = data.toPandas()
data

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,1,44,1,28.0,0,2,1,40454.0,26.0,217,1
1,2,1,76,1,3.0,0,1,0,33536.0,26.0,183,0
2,3,1,47,1,28.0,0,2,1,38294.0,26.0,27,1
3,4,1,21,1,11.0,1,0,0,28619.0,152.0,203,0
4,5,0,29,1,41.0,1,0,0,27496.0,152.0,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105,1,74,1,26.0,1,1,0,30170.0,26.0,88,0
381105,381106,1,30,1,37.0,1,0,0,40016.0,152.0,131,0
381106,381107,1,21,1,30.0,1,0,0,35118.0,160.0,161,0
381107,381108,0,68,1,14.0,0,2,1,44617.0,124.0,74,0
381108,381109,1,46,1,29.0,0,1,0,41777.0,26.0,237,0

In [38]:
#Modéle d'entrainement

#préparation de données d'entrainement
X=data.iloc[:,1:-1]
y=data.iloc[:,-1]

#afficher les données d'entrainement
print(X.head())
print(y.head())

   Gender  Age  Driving_License  Region_Code  Previously_Insured  Vehicle_Age  \
0       1   44                1         28.0                   0            2
1       1   76                1          3.0                   0            1
2       1   47                1         28.0                   0            2
3       1   21                1         11.0                   1            0
4       0   29                1         41.0                   1            0

   Vehicle_Damage  Annual_Premium  Policy_Sales_Channel  Vintage
0               1         40454.0                  26.0      217
1               0         33536.0                  26.0      183
2               1         38294.0                  26.0       27
3               0         28619.0                 152.0      203
4               0         27496.0                 152.0       39
***********************************
0    1
1    0
2    1
3    0
4    0
Name: Response, dtype: int32

In [39]:
#division de la base de donnée
x_train , x_test , y_train , y_test = train_test_split(X, y, test_size=0.2 ,random_state = 42)
print(x_train.shape)
print(x_test.shape)

(304887, 10)
(76222, 10)

In [ ]:
#création des module : Logistic Resgression
model=LogisticRegression()
model.fit(x_train,y_train)

In [41]:
#Model de Test
predictions = model.predict(x_test)
print(predictions)
print(y_test)

[0 0 0 ... 0 0 0]
*********
200222    0
49766     0
172201    0
160713    0
53272     0
         ..
258403    0
234155    0
24476     0
60423     0
185839    0
Name: Response, Length: 76222, dtype: int32

In [ ]:
#evaluation du model
print(classification_report(y_test,predictions))
print(accuracy_score(y_test,predictions))

In [43]:
# création des module : Naïve Bayes
#préparation le donnée d'entrainement
X=data.iloc[:,1:-1]
y=data.iloc[:,-1]

#afficher les données d'entrainement
print(X.head())
print(y.head())

   Gender  Age  Driving_License  Region_Code  Previously_Insured  Vehicle_Age  \
0       1   44                1         28.0                   0            2
1       1   76                1          3.0                   0            1
2       1   47                1         28.0                   0            2
3       1   21                1         11.0                   1            0
4       0   29                1         41.0                   1            0

   Vehicle_Damage  Annual_Premium  Policy_Sales_Channel  Vintage
0               1         40454.0                  26.0      217
1               0         33536.0                  26.0      183
2               1         38294.0                  26.0       27
3               0         28619.0                 152.0      203
4               0         27496.0                 152.0       39
***********************************
0    1
1    0
2    1
3    0
4    0
Name: Response, dtype: int32

In [44]:
#division de la base de donnée
x_train , x_test , y_train , y_test = train_test_split(X, y, test_size=0.2 ,random_state = 42)
print(x_train.shape)
print(x_test.shape)

(304887, 10)
(76222, 10)

In [45]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [46]:
model.fit(x_train,y_train)

GaussianNB()

In [47]:
#Model de test
predictions = model.predict(x_test)
print(predictions)
print(y_test)

[0 1 0 ... 0 0 0]
*********
200222    0
49766     0
172201    0
160713    0
53272     0
         ..
258403    0
234155    0
24476     0
60423     0
185839    0
Name: Response, Length: 76222, dtype: int32

In [48]:
#evaluation du model
print(classification_report(y_test,predictions))
print(accuracy_score(y_test,predictions))

              precision    recall  f1-score   support

           0       0.91      0.89      0.90     66699
           1       0.31      0.36      0.34      9523

    accuracy                           0.82     76222
   macro avg       0.61      0.62      0.62     76222
weighted avg       0.83      0.82      0.83     76222

0.822374117708798

In [50]:
#création des module : SVM

#préparation le donnée d'entrainement
X=data.iloc[:,1:-1]
y=data.iloc[:,-1]

#afficher les données d'entrainement
print(X.head())
print(y.head())

   Gender  Age  Driving_License  Region_Code  Previously_Insured  Vehicle_Age  \
0       1   44                1         28.0                   0            2
1       1   76                1          3.0                   0            1
2       1   47                1         28.0                   0            2
3       1   21                1         11.0                   1            0
4       0   29                1         41.0                   1            0

   Vehicle_Damage  Annual_Premium  Policy_Sales_Channel  Vintage
0               1         40454.0                  26.0      217
1               0         33536.0                  26.0      183
2               1         38294.0                  26.0       27
3               0         28619.0                 152.0      203
4               0         27496.0                 152.0       39
***********************************
0    1
1    0
2    1
3    0
4    0
Name: Response, dtype: int32

In [51]:
#division de la base de donnée
x_train , x_test , y_train , y_test = train_test_split(X, y, test_size=0.2 ,random_state = 42)
print(x_train.shape)
print(x_test.shape)

(304887, 10)
(76222, 10)

In [52]:
from sklearn.svm import SVC

In [53]:
model = SVC()

In [54]:
model.fit(x_train,y_train)

SVC()

In [55]:
#Model de Test
predictions = model.predict(x_test)
print(predictions)
print(y_test)

[0 0 0 ... 0 0 0]
*********
200222    0
49766     0
172201    0
160713    0
53272     0
         ..
258403    0
234155    0
24476     0
60423     0
185839    0
Name: Response, Length: 76222, dtype: int32

In [ ]:
#evaluation du model
print(classification_report(y_test,predictions))
print(accuracy_score(y_test,predictions))